.header-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.singleCol {
    max-width: 750px;
    margin: 0 auto;
}

.social-media-icons a {
    font-size: 150%;
    color: black;
    margin-top: 10px;
}

.showtable {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
}