.header-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleCol {
    max-width: 750px;
    margin: 0 auto;
}

.social-media-icons a {
    font-size: 150%;
    color: black;
    margin-top: 10px;
    margin-bottom: 50px;
}

.showtable {
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;

}

.vidContainer {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CarouselSizeContainer {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 50px;
    object-fit: auto;
}

.SpotifyContainer {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfluenceContainer {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    
}

.MusicContainer {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pContainer {
    margin-bottom: 100px;   
}